name: Build and Publish Julia Dev Image

on:
  push:
    branches: [ "main" ]
    paths:
      - '.devcontainer/Dockerfile'
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # GHCRへの書き込み権限

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # GitHub Container Registry へログイン
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # イメージのビルドとプッシュ
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .devcontainer/Dockerfile
          push: true
          # タグを ghcr.io/sotashimozono/template.jl:latest に設定
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          # Actions のキャッシュを利用してビルド時間を短縮
          cache-from: type=gha
          cache-to: type=gha,mode=max