name: Initial Project Setup
on: [push]

jobs:
  setup: 
    if: github.run_number == 1 && github.repository != 'sotashimozono/template.jl'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.12'
      
      - name: Update Discussion URL in config.yml
        run: |
          NEW_REPO="${{ github.repository }}"
          OLD_URL="https://github.com/sotashimozono/template.jl/discussions"
          NEW_URL="https://github.com/${NEW_REPO}/discussions"
          sed -i "s|${OLD_URL}|${NEW_URL}|g" .github/ISSUE_TEMPLATE/config.yml

      - name: Rename Module and Generate UUID
        run: |
          REPO_NAME=$(echo "${{ github.event.repository.name }}" | sed 's/\.jl$//')
          julia .github/scripts/setup_project.jl "$REPO_NAME"
      
      - name:  Commit and Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          git rm .github/workflows/init.yml
          git rm --ignore-unmatch .github/workflows/docker-publish.yml

          git add .
          git commit -m "Initialize project: Set module name to $REPO_NAME and generate new UUID"
          git push